#home {
    position: relative;;
    color: white;
    min-height: 100%;
    background-image: url(../img/main_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h2 {
            font-size: 3rem;
        }
        svg {
            fill: white;
            width: 25rem;
            height: 25rem;
        }
    }
}