$theme-color: #89C765;
$bg-color: #4d4d4f;
$padding-base: 4rem 0;

$container-width: 60%;

@media (max-width: 767px) { //for mobile
    body {
        $container-width: 100%;
    }
}

@media (max-width: 1023px) {  // for small screen
    body {
        $container-width: 80%;
    }
}